.contenerdor-formulario-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  flex-direction: column;
}

.fomulario-masinfo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  
}

.formulario{
  margin: 20px 10px;
  width: 50%;
}

.contacto{
  margin: 20px 10px;
  width: 50%;
  
}
.contacto .contacto-info{
  line-height:50px;
}

h3, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  padding: 20px 10px;
  color: #000814;
  margin: 10px auto;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  
}
button[type="submit"]:hover {
  background-color: #0056b3;
}