* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: blanchedalmond;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

.holder{
  max-width: 1200px;
  margin: 0 auto;
}

header{
  background-color: #C9C283;
  padding: 10px 0;
  display: block;
}
header img{
  width: 100px;
}
header h1{
  
  color: white;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

nav{
  background-color: #C9C283;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a{
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover{
  background-color: #A19B69;
}

nav ul li a.activo{
  background-color: #A19B69;
}

footer{
  background-color: #C9C283;
  clear: both;
  color: black;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px ;
}